@charset "UTF-8";
/* CSS Document */
body,td,th {
	
    font-family:'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
}

/* Container holding the image and the text */
.HeaderPic {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 0px;
  left: 60px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 100px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.HeaderText {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.GlennText {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.imageContainer {
  position: relative;
  text-align: center;
  color: white;
}

thumbImg {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}

a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.gallery {
  height: 305px;
  padding:5px; /* Some padding */
  padding-bottom:15px
}

.gallery-right-pic {
  height: 300px;
  float: right;
  border: 1px solid #fff; 
  box-shadow: 10px 10px 5px #ddd;
  padding-left:20px
}

.gallery-left-pic {
  height: 300px;
  float: left;
  border: 1px solid #fff; 
  box-shadow: 10px 10px 5px #ddd;
  margin-right:30px
}

.gallery-big-pic {
  margin-left:15px;
  margin-bottom:20px;
  width: 600px;
  border: 1px solid #fff; 
  box-shadow: 10px 10px 5px #ddd;
}

	